:root{
	--color-fondo: rgba(250,250,250,.9);
	--color-titulos: #CC0000;
}
@import
	url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap')
	;

* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

.body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.main {
	width: 100%;
	height: 90vh;
	display: flex;
}
/********HEADER********/
.header {
	width: 100%;
	height: 10vh;
	background: #020B30;
	display: flex;
	color: #fff;
	justify-content: space-around;
	padding: 0 1.5rem;
}
.hearder__titulo {
	display: flex;
	align-items: center;
	width: 50%;	
}

.titulo__a {
	color: #fff;
	font-size: 3.2rem;
}

.titulo__a:hover {
	color: rgb(195, 205, 245);
	text-decoration: none;
}
.header__lista {
	width: 50%;
	display: flex;
	align-items: center;
	font-size: 1.3rem;
}
.lista{
	width: 100%;
	display: flex;
	margin: auto;
	padding: 0;
	align-items: center;
	justify-content: flex-end;
}
.lista__item{
	display: block;
	padding: 0.5rem;
}
.item__link{
	color:#fff;
}

.item__link-usuario{
	cursor: inherit;
}

.item__link:hover{
	text-decoration: none;
	color:#fff;
}
.lista__show{
	display: none;
	position: absolute;
	right: 0;
	font-size: 1.1rem;
	list-style: none;
	padding: 1rem 1rem;
	background-color: #020B30 ;
}

.lista__item-barra{
	border-bottom: 1px solid #fff;
}
.item__link .fa-user-md:hover{
	color:#fff;
}
.lista__item:hover .lista__show{
	display: block;
}

.lista__show .lista__item:hover{
	background-color: rgb(47, 82, 219, .2);
}

/*****NAV*******/
.nav {
	width: 20%;
	height: 90vh;
}

.nav__link {
	color: #fff;
	display: block;
	padding: 15px 0;
	text-decoration: none;
}

.nav__link:hover {
	text-decoration: none;
	color: #fff;
}

.nav__link--inside {
	border-radius: 6px;
	padding-left: 20px;
	text-align: left;
}

.nav__link--inside:hover {
	background-color: rgb(47, 82, 219, .2);
}

.list {
	color: #fff;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: #020B30;
	margin-bottom: 0;
	padding: 0;/**/
}

.list__item {
	list-style: none;
	width: 100%;
	text-align: center;
	overflow: hidden;
	font-size: 1.1rem;
}

.fas {
	font-size: 2rem;
}

.list__item--click {
	cursor: pointer;
}

.list__button {
	display: flex;
	align-items: center;
	gap: 1em;
	width: 70%;
	margin: 0 auto;
}

.list__item:hover {
	background-color: rgb(47, 82, 219, .1);
}

.list__arrow {
	font-size: 1.4rem;
	margin-left: auto;
	transition: transform .3s;
}

.arrow .list__arrow {
	transform: rotate(90deg);
}

.list__show {
	width: 80%;
	padding: 0;
	margin-left: auto;
	border-left: 2px solid #fff;
	list-style: none;
	transition: height .4s;
	height: 0;
}

/*****CARD*****/
.card__profile {
	width: 80%;
	min-height: 90vh;
	background-image: url(https://odc.officeapps.live.com/odc/stat/images/hrd/Background-blurryGradient.svg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
}
.form__actualizar{
	width: 100%;
	margin: auto;
}
.contenedor__card {
	width: 75%;
	display: flex;
	flex-direction: column;
	margin: auto;
	border: 1px solid #D7D8DC;
	border-radius: 10%;
}

.card__header {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 2rem;
	padding:.5rem 1.2rem 0 1.2rem;
	background-color: var(--color-fondo);
	justify-content: space-between;
}

.header__title {
	color: var(--color-titulos);
	font-weight: 600;
	position: relative;
	font-size: 1.5vw;
}
.header__title::after{
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height:3px;
	background-color: var(--color-titulos);
}
.card__main {
	width: 100%;
	display: flex;
	gap: 1rem;
	padding: .5rem;
	background-color:var(--color-fondo);
}

.main__photo {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin: auto;
}

.photo__contenedor {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.photo__img {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.main__photo img {
	width: 50%;
	height: 50%;
	object-fit: contain;	
}

.photo__information {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
}

.main__information {
	width: 70%;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
}
.information__general{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.information {
	display: flex;
	flex-direction: column;
	align-content: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #333;
	padding-bottom: 15px;
}

.information .information__titulo {
	color: #122D93;
	font-size:1vw;
	font-weight: 600;
}
.information .information__value{
	color: #000;
	font-size:.950vw;
	
}
.btn-danger {
	display: flex;
	width: 30%;
}

.information .form-control {
	width: 20%;
}

.information__button {
	display: flex;
	align-items: flex-end;
	margin-top: 10px;
	padding: 0;
	border: inherit;
}
.fa-user-edit{
	font-size: 1.1rem;
}
#caja{
	display: none;
}

@media (min-width:1024px) and (max-width:1400px){

.information .information__titulo {
	font-size:1vw;
}

}
