<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es-PE">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    <link rel="icon" href="icon/c.ico">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/styleMenu.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container__main">
        <header class="header">
            <div class="hearder__titulo">
                <a class="titulo__a" href="index.html">Cibersalud</a>
            </div>
            <div class="header__lista">
                <ul class="lista">
                    <li class="lista__item"><a class="item__link item__link-usuario" href="#"></a></li>
                    <li class="lista__item"><a class="item__link" href="#"><i class="fas fa-user-md"></i></a>
                        <ul class="lista__show">
                            <li class="lista__item lista__item-barra"><a class="item__link"
                                    href="profile.html">Perfil</a>
                            </li>
                            <li class="lista__item"><a class="item__link" href="servPro?opcion=c">Cerrar Sesion</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <main class="main__manenimiento">
            <nav class="nav__menu">
				<ul class="list">
					<li class="list__item list__item--click">
						<div class="list__button list__button--click">
							<i class="fas fa-hospital-alt"></i> <a href="#" class="nav__link">Servicios</a>
							<i class="fas fa-arrow-right list__arrow"></i>
						</div>
						<ul class="list__show">
							<li class="list__inside"><a href="registro_profesio.jsp"
									class="nav__link nav__link--inside">Estoy dentro </a></li>
							<li class="list__inside"><a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
							</li>
							<li class="list__inside"><a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
							</li>
							<li class="list__inside"><a href="laboratorioRegistro.html"
									class="nav__link nav__link--inside">Laboratorio </a></li>
							<li class="list__inside"><a href="topico.jsp" class="nav__link nav__link--inside">Topico</a>
							</li>
						</ul>
					</li>
					<li class="list__item">
						<div class="list__button list__button--click">
							<i class="fas fa-first-aid"></i> <a href="#" class="nav__link">Farmacia</a>
							<i class="fas fa-arrow-right list__arrow"></i>
						</div>
						<ul class="list__show list__item--click">
							<li class="list__inside"><a href="reg_paciente.jsp"
									class="nav__link nav__link--inside">Catálogo
									Medicamentos</a></li>
							<li class="list__inside"><a href="#" class="nav__link nav__link--inside">Consulta</a></li>
						</ul>
					</li>
					<li class="list__item">
						<div class="list__button list__button--click">
							<i class="fas fa-user-injured"></i> <a href="#" class="nav__link">Paciente</a>
							<i class="fas fa-arrow-right list__arrow"></i>
						</div>
						<ul class="list__show list__item--click">
							<li class="list__inside"><a href="pacienteRegistro.jsp"
									class="nav__link nav__link--inside">Registro Pacientes</a></li>
							<li class="list__inside"><a href="pacienteConsulta.jsp"
									class="nav__link nav__link--inside">Busqueda Pacientes</a></li>

						</ul>
					</li>
					<li class="list__item">
						<div class="list__button list__button--click">
							<i class="fas fa-hospital-user"></i> <a href="#" class="nav__link">Citas</a>
							<i class="fas fa-arrow-right list__arrow"></i>
						</div>
						<ul class="list__show list__item--click">
							<li class="list__inside"><a href="citaLogin.jsp"
									class="nav__link nav__link--inside">Registro
									Citas</a></li>
							<li class="list__inside"><a href="#" class="nav__link nav__link--inside">Busqueda Citas</a>
							</li>
							<li class="list__inside"><a href="citserv?opcion=lb"
									class="nav__link nav__link--inside">Bandeja
									de entrada</a></li>
						</ul>
					</li>
					<li class="list__item">
						<div class="list__button">
							<i class="fas fa-cart-plus"></i> <a href="venServ?opcion=l" class="nav__link">Venta</a>
						</div>
					</li>
				</ul>
			</nav>
            <div class="contenedor__Man-medicamentos">
                <div class="mantenimiento-medicamentos">
                    <div class="medicamentos-header">
                        <h2 class="h2-titulo-header"><i class="fa-solid fa-tablets"></i> Catálogo Medicamentos</h2>
                        <a href="#" class="button__nuevo">Nuevo <i class="fa-solid fa-plus"></i></a>
                    </div>
                    <div class="medicamentos-menu">
                        <table id="myTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Nombre</th>
                                    <th>Categoria</th>
                                    <th>Precio</th>
                                    <th>Presentación</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="p: ${list}">
                                    <td th:text="${p.idproducto}">1</td>
                                    <td th:text="${p.nombre}" id="td_nombre">Gaseovet 80 mg/ml Suspensión Gotas Sabor
                                        Fresa</td>
                                    <td th:text="${p.categorias.desccategoria}">Malestar Estomacal</td>
                                    <td th:text="@{'S/ ' +*{#numbers.formatDecimal(p.precioproducto,0,2,'POINT')}}">S/
                                        18.70
                                    </td>
                                    <td th:text="${p.tipopresentacion}" id="td__presentacion"></td>
                                    <td id="td__botones"> <a href="#" class="button__editar" title="Editar"><i
                                                class="fa-solid fa-pen-to-square"></i></i></a>
                                        <a href="#" class="button__delete" title="Eliminar"><i
                                                class="fa-solid fa-ban"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer-Prod">
            <div class="footer__Prod">
                <p>Copyright&copy Cibersalud 2022 Todos los derechos reservados</p>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/r-2.2.3/sc-2.0.1/sl-1.3.1/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
</body>
<script>
    $('#myTable').DataTable({
        "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
</script>

</html>