<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Paciente</title>
    <link rel="icon" href="icon/c.ico">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/stylePaciente.css" rel="stylesheet">
</head>

<body class="body">
    <header class="header">
        <div class="hearder__titulo">
            <a class="titulo__a" href="inicio.html">Cibersalud</a>
        </div>
        <div class="header__lista">
            <ul class="lista">
                <li class="lista__item"><a class="item__link item__link-usuario" href="#">${pl.nombreP }
                        ${pl.paterno } ${pl.materno }</a></li>
                <li class="lista__item"><a class="item__link" href="#"><i class="fas fa-user-md"></i></a>
                    <ul class="lista__show">
                        <li class="lista__item lista__item-barra"><a class="item__link" href="profile.html">Perfil</a>
                        </li>
                        <li class="lista__item"><a class="item__link" href="servPro?opcion=c">Cerrar Sesion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <main class="main">
        <div class="contenedor">
            <form action="paciserv" method="get" title="Acceso al sistema" class="needs-validation form__contenedor"
                novalidate>
                <div class="contenedor__titulo">
                    <h3 class="contenedor__titulo-h3">ADMISION: Nuevo Registro</h3>
                </div>
                <div class="contenedor__datosP contenedor-active">
                    <div class="contenedor-h4">
                        <h4>Datos Personales</h4>
                    </div>
                    <div class="contenedor__datosP-datosPer">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <div class="contenedor__datosP-datosPer-img">
                                    <img id="caja1" alt="" src="img/pacienteH.png" class="center">
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <b><label for="exampleInputEmail1">Número de
                                        documento:</label></b> <input type="text" value="${pa.dni }" name="txtDni"
                                    class="form-control" id="InputDni" onkeyup="PasarValor();" pattern="[0-9]{8}"
                                    required>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Solo ingesar Números.</div>
                            </div>
                            <div class="form-group col-md-1"></div>
                            <div class="form-group col-md-3">
                                <b><label for="exampleInputEmail1">Historia Clinica:</label></b>
                                <input type="text" value="${pa.historia}" class="form-control none" name="txtHc"
                                    id="InputHc" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <b><label for="exampleInputEmail1">Apellido Paterno:</label></b>
                                <input type="text" value="${pa.apeP }" class="form-control" name="txtApePa"
                                    id="InputApePa" pattern="[A-Za-zñÑáéíóú]+( [A-Za-zñÑáéíóú]+)*" required>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Solo ingesar Letras.</div>
                            </div>
                            <div class="form-group col-md-4">
                                <b><label for="exampleInputEmail1">Apellido Materno:</label></b>
                                <input type="text" value="${pa.apeM }" class="form-control" name="txtApeMat"
                                    id="InputApeMat" pattern="[A-Za-zñÑáéíóú]+( [A-Za-zñÑáéíóú]+)*" required>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Solo ingesar Letras.</div>
                            </div>
                            <div class="form-group col-md-4">
                                <b><label for="exampleInputEmail1">Nombres:</label></b> <input type="text"
                                    value="${pa.nomP }" name="txtNombre" class="form-control" id="InputNombre"
                                    pattern="[A-Za-zñÑáéíóú]+( [A-Za-zñÑáéíóú]+)*" required>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Solo ingesar Letras.</div>
                            </div>
                        </div>
                        <div class="form-row"></div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <b><label for="exampleInputEmail1">Fecha Nacimiento:</label></b>
                                <input type="date" value="${pa.Fecnac }" name="txtFecha" class="form-control"
                                    id="InputFecha" required>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Ingrese una fecha.</div>
                            </div>
                            <div class="form-group col-md-4">
                                <b><label for="exampleInputEmail1">Sexo :</label></b> <select name="cboSexo"
                                    class="form-control" id="cboSexo" required>
                                    <option value="">--Seleccione--</option>
                                    <option value="1">Masculino</option>
                                    <option value="2">Femenino</option>
                                    <!--  	
									DAOFactory fabrica4 = DAOFactory.getDAOFactory(DAOFactory.MYSQL);
									ArrayList<CBOSexo> lista3 = fabrica4.getPorfesioDAO().listadoSexo();
									request.setAttribute("lstSexo", lista3);									
									<c:forEach items="${lstSexo }" var="c">
										<c:if test="${c.sexo == pa.sexo}">
											<option value="${c.sexo }" selected="selected">${c.tipoSexo}</option>
										</c:if>
										<c:if test="${c.sexo != pa.sexo}">
											<option value="${c.sexo }">${c.tipoSexo }</option>
										</c:if>
									</c:forEach>-->
                                </select>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Selecciona un Sexo.</div>
                            </div>
                            <div class="form-group col-md-4">
                                <b><label for="exampleInputEmail1">Estado Civil :</label></b> <select required
                                    name="cboCivil" class="form-control" id="cboCivil">
                                    <option value="">--Seleccione--</option>
                                    <% DAOFactory fabrica1=DAOFactory.getDAOFactory(DAOFactory.MYSQL);
                                        ArrayList<CBOCivil> lista = fabrica1.getPacienteDAO().listadoCivil();
                                        request.setAttribute("lstCivil", lista);
                                        %>
                                        <c:forEach items="${lstCivil }" var="c">
                                            <c:if test="${c.idCivil == pa.idCivil}">
                                                <option value="${c.idCivil }" selected="selected">${c.desCivil}</option>
                                            </c:if>
                                            <c:if test="${c.idCivil != pa.idCivil}">
                                                <option value="${c.idCivil }">${c.desCivil }</option>
                                            </c:if>
                                        </c:forEach>
                                </select>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Selecciona un Estado Civil.</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <b><label for="exampleInputEmail1">Grado de
                                        instrucción :</label> </b><select required name="cboGra" class="form-control"
                                    id="cboGra">
                                    <option value="">--Seleccione--</option>
                                    <% DAOFactory fabric=DAOFactory.getDAOFactory(DAOFactory.MYSQL); ArrayList<CBOGrado>
                                        listaG = fabric.getPacienteDAO().listadoGrado();
                                        request.setAttribute("lstGra", listaG);
                                        %>
                                        <c:forEach items="${lstGra }" var="c">
                                            <c:if test="${c.idGrad == pa.idGrad}">
                                                <option value="${c.idGrad }" selected="selected">${c.tipoGrado}</option>
                                            </c:if>
                                            <c:if test="${c.idGrad != pa.idGrad}">
                                                <option value="${c.idGrad }">${c.tipoGrado }</option>
                                            </c:if>
                                        </c:forEach>
                                </select>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Selecciona un Grado de
                                    Instruccion.</div>
                            </div>
                            <div class="form-group col-md-4">
                                <b><label for="exampleInputEmail1">Ocupación:</label></b> <select required
                                    name="cboOcup" class="form-control" id="cboOcup">
                                    <option value="">--Seleccione--</option>
                                    <% DAOFactory fabri=DAOFactory.getDAOFactory(DAOFactory.MYSQL); ArrayList<CBOOcup>
                                        listaC = fabri.getPacienteDAO().listadoOcupa();
                                        request.setAttribute("lstOcu", listaC);
                                        %>
                                        <c:forEach items="${lstOcu }" var="c">
                                            <c:if test="${c.idOcu == pa.idOcu}">
                                                <option value="${c.idOcu }" selected="selected">${c.desOcu}</option>
                                            </c:if>
                                            <c:if test="${c.idOcu != pa.idOcu}">
                                                <option value="${c.idOcu }">${c.desOcu }</option>
                                            </c:if>
                                        </c:forEach>
                                </select>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Selecciona una Ocupación.</div>
                            </div>
                            <div class="form-group col-md-4">
                                <b><label for="exampleInputEmail1">Tipo de Sangre:</label></b> <select name="cboSangre"
                                    required class="form-control" id="cboSangre">
                                    <option value="">--Seleccione--</option>
                                    <% DAOFactory fabricaS=DAOFactory.getDAOFactory(DAOFactory.MYSQL);
                                        ArrayList<CBOSangre> listaS = fabricaS.getPacienteDAO().listadoSangre();
                                        request.setAttribute("lstSan", listaS);
                                        %>
                                        <c:forEach items="${lstSan }" var="c">
                                            <c:if test="${c.idSan == pa.idSan}">
                                                <option value="${c.idSan }" selected="selected">${c.desSangre}</option>
                                            </c:if>
                                            <c:if test="${c.idSan != pa.idSan}">
                                                <option value="${c.idSan }">${c.desSangre }</option>
                                            </c:if>
                                        </c:forEach>
                                </select>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Selecciona un Tipo de
                                    Sangre.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contenedor__separator"></div>
                <div class="contenedor__datoDomi contenedor-active">
                    <div class="contenedor-h4">
                        <h4>Datos de Domicilio Actual</h4>
                    </div>
                    <div class="contenedor__datoDomi-direccion">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <b><label for="exampleInputEmail1">Departamento:</label></b> <select
                                    name="selectDepartamento" onchange="cambia()" class="form-control" required>
                                    <option value="">Seleccione</option>
                                    <option value="Amazonas">Amazonas</option>
                                    <option value="Ancash">Ancash</option>
                                    <option value="Apurímac">Apurímac</option>
                                    <option value="Arequipa">Arequipa</option>
                                    <option value="Ayacucho">Ayacucho</option>
                                    <option value="Cajamarca">Cajamarca</option>
                                    <option value="Callao">Callao</option>
                                    <option value="Cuzco">Cuzco</option>
                                    <option value="Huancavelica">Huancavelica</option>
                                    <option value="Huánuco">Huánuco</option>
                                    <option value="Ica">Ica</option>
                                    <option value="Junín">Junín</option>
                                    <option value="La_Libertad">La Libertad</option>
                                    <option value="Lambayeque">Lambayeque</option>
                                    <option value="Lima">Lima</option>
                                    <option value="Loreto">Loreto</option>
                                    <option value="Madre_de_Dios">Madre de Dios</option>
                                    <option value="Moquegua">Moquegua</option>
                                    <option value="Pasco">Pasco</option>
                                    <option value="Piura">Piura</option>
                                    <option value="Puno">Puno</option>
                                    <option value="San_Martín">San Martín</option>
                                    <option value="Tacna">Tacna</option>
                                    <option value="Tumbes">Tumbes</option>
                                    <option value="Ucayali">Ucayali</option>
                                </select>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Selecciona un Departamento.</div>
                            </div>
                            <div class="form-group col-md-4">
                                <b><label for="exampleInputEmail1">Provincia:</label></b> <select class="form-control"
                                    name="selectProvincia" onchange="cambiaDistrito()" required="">
                                    <option value="">Seleccione la Provincia</option>
                                </select>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Selecciona una Provincia.</div>
                            </div>
                            <div class="form-group col-md-4">
                                <b><label for="exampleInputEmail1">Distrito: </label></b> <select class="form-control"
                                    name="selectDistrito" required="">
                                    <option value="">Seleccione el Distrito</option>
                                </select>
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Selecciona un Distrito.</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <b><label for="N° de Contacto">Dirección Actual:</label></b> <input type="text"
                                    value="${pa.DirecPaciente }" name="txtDirecci" class="form-control"
                                    id="InputDirecci">
                            </div>

                            <div class="form-group col-md-6">
                                <b><label for="N° de Contacto">Referencia
                                        Domiciliaria :</label></b> <input type="text" value="${pa.refeDomi }"
                                    name="txtRefeDo" class="form-control" id="InputRefeDo">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contenedor__separator"></div>
                <div class="contenedor__datosCont contenedor-active">
                    <div class="contenedor-h4">
                        <h4>Datos de contacto</h4>
                    </div>
                    <div class="contenedor__datosCont-contac">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <b><label for="N° de Contacto">N° Celular:</label></b> <input type="text"
                                    value="${pa.celular }" name="txtCel" pattern="[0-9]{9}" class="form-control"
                                    id="InputCelu">
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Celular no valido.</div>
                            </div>
                            <div class="form-group col-md-4">
                                <b><label for="N° de Contacto">N° Teléfono :</label></b> <input type="text"
                                    value="${pa.telef }" name="txtTelf" pattern="[0-9]{7}" class="form-control"
                                    id="InputTelf">
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Teléfono no valido.</div>
                            </div>
                            <div class="form-group col-md-4">
                                <b><label for="N° de Contacto">Correo electrónico :</label></b>
                                <input type="email" value="${pa.correo }" name="txtCorreo" class="form-control"
                                    id="InputCorreo">
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">Correo no valido.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contenedor__final">
                    <div class="contenedor__final-botones">
                        <button type="submit" name="opcion" class="btn btn-success" value="r">Registrar</button>
                        <a href="pacienteConsulta.jsp" class="btn btn-danger" id="danger" role="button"
                            aria-pressed="true">Cancelar</a>
                    </div>
                </div>
                <div class="alert alert-warning alert-dismissible fade show" style="display: none;" role="alert">
                    <strong>REGISTRO EXITOSO</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                ${mensaje }
            </form>
        </div>
    </main>
</body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="js/patient.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#cboSexo").change(function () {
            let num = $(this).val();

            if (num == 1) {
                valor = 'pacienteH.png';
            }
            if (num == 2) {
                valor = 'pacienteF.png';
            }

            $('#caja1').prop("src", "img/" + valor);
        });
    });

    function PasarValor() {
        document.getElementById("InputHc").value = document.getElementById("InputDni").value;
    }
</script>

</html>