<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es-PE">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Producto</title>
    <link rel="icon" href="icon/c.ico">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/styleMenu.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" />
</head>

<body class="body">
    <div class="container__main">
        <header class="header">
            <div class="hearder__titulo">
                <a class="titulo__a" href="index.html">Cibersalud</a>
            </div>
            <div class="header__lista">
                <ul class="lista">
                    <li class="lista__item"><a class="item__link item__link-usuario" href="#">${pl.nombreP }
                            ${pl.paterno } ${pl.materno }</a></li>
                    <li class="lista__item"><a class="item__link" href="#"><i class="fas fa-user-md"></i></a>
                        <ul class="lista__show">
                            <li class="lista__item lista__item-barra"><a class="item__link"
                                    href="profile.html">Perfil</a>
                            </li>
                            <li class="lista__item"><a class="item__link" href="servPro?opcion=c">Cerrar Sesion</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <main class="main__mant-prod">
            <nav class="nav">
                <ul class="list">
                    <li class="list__item list__item--click">
                        <div class="list__button list__button--click">
                            <i class="fas fa-hospital-alt"></i> <a href="#" class="nav__link">Servicios</a>
                            <i class="fas fa-arrow-right list__arrow"></i>
                        </div>
                        <ul class="list__show">
                            <li class="list__inside"><a href="registro_profesio.jsp"
                                    class="nav__link nav__link--inside">Estoy dentro </a></li>
                            <li class="list__inside"><a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                            </li>
                            <li class="list__inside"><a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                            </li>
                            <li class="list__inside"><a href="laboratorioRegistro.html"
                                    class="nav__link nav__link--inside">Laboratorio </a></li>
                            <li class="list__inside"><a href="topico.jsp" class="nav__link nav__link--inside">Topico</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list__item">
                        <div class="list__button list__button--click">
                            <i class="fas fa-first-aid"></i> <a href="#" class="nav__link">Farmacia</a>
                            <i class="fas fa-arrow-right list__arrow"></i>
                        </div>
                        <ul class="list__show list__item--click">
                            <li class="list__inside"><a href="reg_paciente.jsp"
                                    class="nav__link nav__link--inside">Catálogo
                                    Medicamentos</a></li>
                            <li class="list__inside"><a href="#" class="nav__link nav__link--inside">Consulta</a></li>
                        </ul>
                    </li>
                    <li class="list__item">
                        <div class="list__button list__button--click">
                            <i class="fas fa-user-injured"></i> <a href="#" class="nav__link">Paciente</a>
                            <i class="fas fa-arrow-right list__arrow"></i>
                        </div>
                        <ul class="list__show list__item--click">
                            <li class="list__inside"><a href="pacienteRegistro.jsp"
                                    class="nav__link nav__link--inside">Registro Pacientes</a></li>
                            <li class="list__inside"><a href="pacienteConsulta.jsp"
                                    class="nav__link nav__link--inside">Busqueda Pacientes</a></li>

                        </ul>
                    </li>
                    <li class="list__item">
                        <div class="list__button list__button--click">
                            <i class="fas fa-hospital-user"></i> <a href="#" class="nav__link">Citas</a>
                            <i class="fas fa-arrow-right list__arrow"></i>
                        </div>
                        <ul class="list__show list__item--click">
                            <li class="list__inside"><a href="citaLogin.jsp"
                                    class="nav__link nav__link--inside">Registro
                                    Citas</a></li>
                            <li class="list__inside"><a href="#" class="nav__link nav__link--inside">Busqueda Citas</a>
                            </li>
                            <li class="list__inside"><a href="citserv?opcion=lb"
                                    class="nav__link nav__link--inside">Bandeja
                                    de entrada</a></li>
                        </ul>
                    </li>
                    <li class="list__item">
                        <div class="list__button">
                            <i class="fas fa-cart-plus"></i> <a href="venServ?opcion=l" class="nav__link">Venta</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="contenedor__Regis-medicamentos">
                <div class="contenedor__img-Prod">
                    <img src="img/Svg/undraw_professor_re_mj1s.svg" alt="" class="img-Produc-reg">
                </div>
                <div class="contendor-Form-Producto">
                    <div class="alert alert-info" role="alert" th:text="${mensaje}" th:if="${mensaje}!=null">
                    </div>
                    <form action="" class="formulario-Producto">
                        <div class="contenedor-form-prod">
                            <div class="medicamentos-header">
                                <h2 class="h2-titulo-header header-pro"><i class="fa-solid fa-tablets"></i>Registro
                                    Productos
                                </h2>
                            </div>
                            <div class="form-row form-colum-R">
                                <div class="form-group col-md-6">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" id="form-control">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Categoria</label>
                                    <select class="form-control" id="form-control">
                                        <option value="">Seleccione</option>
                                        <option value="1">Dni</option>
                                        <option value="2">Carnet Extranjería</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-row form-colum-R">
                                <div class="form-group col-md-12">
                                    <label>Descripcion</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-row form-colum-R">
                                <div class=" form-group col-md-5">
                                    <label>Laboratorio</label>
                                    <select class="form-control" id="form-control">
                                        <option value="">Seleccione</option>
                                        <option value="1">Dni</option>
                                        <option value="2">Carnet Extranjería</option>

                                    </select>
                                </div>
                                <div class="form-group col-md-7">
                                    <label>Tipo Presentación</label>
                                    <input type="text" class="form-control" id="form-control">
                                </div>
                            </div>
                            <div class="form-row form-colum-R">
                                <div class="form-group col-md-2">
                                    <label>Precio</label>
                                    <input type="number" class="form-control" id="form-control">
                                </div>
                                <div class=" form-group col-md-5">
                                    <label>Estado</label>
                                    <select class="form-control" id="form-control">
                                        <option value="">Seleccione</option>
                                        <option value="1">Dni</option>
                                        <option value="2">Carnet Extranjería</option>

                                    </select>
                                </div>
                                <div class=" form-group col-md-5">
                                    <label>Url</label>
                                    <input type="text" class="form-control" id="form-control">
                                </div>
                            </div>
                            <div class="form-row form-colum-R colum-button">
                                <button type="submit" class="button-registro-pro">Guardar</button>
                                <button type="submit" class="button-registro-pro limpiar-pro">Limpiar</button>
                            </div>
                            <!-- <a href="#" class="button-loguin">Registrarme</a> -->
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer class="footer-Prod">
            <div class="footer__Prod">
                <p>Copyright&copy Cibersalud 2022 Todos los derechos reservados</p>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/r-2.2.3/sc-2.0.1/sl-1.3.1/datatables.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
</body>


</html>